<div class="container text-center mt-5">
    <% if @ruby.present? %>
        <h1><%= @ruby[:title] %></h1>
        <%= @ruby[:body].html_safe %>
        <%else%>
        <%= "記事はありません" %>
    <%end%>
    <div class="text-center mt-5">
        <%= link_to "戻る", root_path %>
    </div>
</div>