<div class="container">

    <h1 class="mt-5">住宅情報リスト</h1>
    <div class="btn btn-prymary mt-5">
        <%=link_to "スクレイピング開始",new_amazon_search_path%>
    </div>
    <div class="container">
        <h1>住宅情報スクレイピング結果</h1>
        <%@amazon.each do |item|%>
            <p><%=item.title%></p>
            <p><%=item.subject%></p>
            <p><%=item.body%></p>
        <%end%>
    </div>
</div>
