
<header class="shadow-sm bg-dark text-white ">
  <h1 class="p-4">kazutter</h1>
  <p class="p-3">スクレイピングのことならお任せください</p>
</header>
<nav class="bg-secondary">
    <div class="">
        <a class="text-white" href="https://nashiblog.netlify.app/">nashiblog</a>
    </div>
</nav>
<main>
   
</main>
<section>
  
</section>

<footer class="container rounded pt-5 pb-2 bg-light mt-3">
    <div class="justify-content-center text-center mt-5">
        <p>Copyright © 2022 NashiBlog</p>
    </div>
</footer>