<div class="container">
  <header>
    <h1>kazutter</h1>
    <p>色々アプリ置いてます</p>
    <nav>
      <a href="https://nashiblog.netlify.app/blog/">プログラミングブログ</a>
    </nav>
  </header>
  <body>
    <main>
      スクレイピングアプリ制作ご依頼はこちらから
    </main>
  </body>
  <footer>
    <p>copyright by nashiblog</p>
  </footer>

</div>