
@import "bootstrap";


// *= require_tree .
// *= require_self

header{
  height: 150px;
  font-size: 2em;
}
main{
  margin-top: 150px;
}
#logo{
  line-height: 150px;
  font-size: 10rem;

}
h1{
  font: bold;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  color: azure;
}