// Place all the styles related to the mainpages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#mitsumori-js {
    background-color:#FFF;
    padding:20px;
    max-height:600px;
    box-sizing:border-box;
}
#mitsumori-js table {
    width:100%;
    border-collapse: collapse;
    border-spacing: 0;
}
#mitsumori-js .mitsumori-js-tbl {
    margin-bottom:15px;
}
#mitsumori-js .mitsumori-js-total-tbl {
    width:480px;
    margin-left:auto;
}
#mitsumori-js .mitsumori-js-total-tbl th {
    width:45%;
}
#mitsumori-js th,
#mitsumori-js td {
    border:1px solid #000;
    padding:12px;
}
#mitsumori-js .item-name {
    width:30%;
}
#mitsumori-js .item-quantity {
    width:45%;
}
#mitsumori-js .item-price {
    width:25%;
}