<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <%= link_to "kazutter","#",id: "logo"%>
    </div>
    <nav class="ml-auto">
        <%=link_to "sign in", new_admin_registration_path%>
    </nav>
</header>